.signup-button-icon{
    font-size: 3em;
}
.signup-button{
    border-radius: 100%;
    padding: 10px;
    background-color: lightgreen !important;
    text-align: center;
    height: 60px;
    width:60px;
    margin-left: 40%;
    margin-top: 40px;
}
@media (min-width:768px) {
    .signup-button { 
        display:none;
     }
  }